// =============> Dark Mode Color Variables

// body variables
$bodyColor: #1a1a1a;

// navbar variables
$navbarColor: #292929;
$navbarHoverColor: #4e4e4e;
$navItemsFontColor: #fafafa;
$navItemsFontSize: 1.1em;
$navHeight: 8vh;

// sidebar variables
$sidebarWidth: 230px;
$whiteColor: #fafafa;
