// put an underscore before the filename to prevent them from compiling
// as these are imported in the files where required

// =============> Light Mode Color Variables

// body variables
$bodyColor: #fafafa;

// navbar variables
$navbarColor: #f6f6f6;
$navbarHoverColor: #d1d0d0;
$navItemsFontColor: #292929;
$navItemsFontSize: 1.1em;

// sidebar variables
$sidebarWidth: 200px;
